<a href="https://colab.research.google.com/github/Pranavjeet-Naidu/Slot_16-Collab_Repo/blob/main/pesu_io_workbook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=int(input("Please enter your number: "))
if x%2==0:
 print("the number that you have chosen is even")
else:
 print("the number you have chosen is an odd number")

Please enter your number: 13
the number you have chosen is an odd number

In [ ]:
#check for all the vowels in the word
text=input("enter the input : ")
vowels=['a','e','i','o','u']
for i in text:
  if i in vowels:
    print(i)

enter the ipnut : abcde
a
e

In [ ]:
n1=int(input("enter number 1 : "))
n2=int(input("enter number 2 : "))
x = n1+n2
print(x)

enter number 1 : 2
enter number 2 : 4
6

In [ ]:
l=[1,2,2,3,3,3,4,5,6,6,7,7,8]
d={}
for i in l :
  if i in d :
    d[i]+=1
  else :
    d[i]=1
print(d)

{1: 1, 2: 2, 3: 3, 4: 1, 5: 1, 6: 2, 7: 2, 8: 1}

In [ ]:
str="betty bought some butter but the butter was bitter, so betty bought some better butter"
list=str.split(" ")
list=set(list)
print(list)

{'bought', 'was', 'better', 'some', 'the', 'butter', 'bitter,', 'but', 'so', 'betty'}

In [ ]:
#Input the names and ages of two people . Print out their total
n1 = (input("please enter the name of person 1 : "))
a1 = int(input("please enter the age of person 1 : "))
n2 = (input("please enter the name of person 2 : "))
a2 = int(input("please enter the age of person 2 : "))
total = a1+a2
print(total)

please enter the name of person 1 : lol
please enter the age of person 1 : 13
please enter the name of person 2 : loll
please enter the age of person 2 : 22
35

In [ ]:
#input three numbers and calculate their average (mean)
n1=int(input("please enter number 1 : "))
n2=int(input("please enter number 2 : "))
n3=int(input("please enter number 3 : "))
sum=n1+n2+n3
mean=sum/23
print(round(mean,2))

please enter number 1 : 425
please enter number 2 : 54
please enter number 3 : 7
21.13

In [ ]:
#Enter the dimensions of a rectangular box and calculate its volume
l=int(input("Please enter the length of the rectangle: "))
b=int(input("Please enter the breadth of the rectangle: "))
h=int(input("Please enter the height of the rectangle: "))
vol=l*b*h
print(f"volume of the given rectangle is :{vol}")

Please enter the length of the rectangle: 23
Please enter the breadth of the rectangle: 34
Please enter the height of the rectangle: 45
volume of the given rectangle is :35190

In [ ]:
#code a program to find the sum of natural numbers
#find a way to represent all the natural numbers or just use the sum formula
n=int(input("please enter the number till which you want all the natural numbers to get added : "))
m=n+1
m=m/2
m=m*n
print(f"the required sum is :{m}")

please enter the number till which you want all the natural numbers to get added : 7
the required sum is :28.0

In [ ]:
# Python program to find H.C.F of two numbers

# define the hcf function
def compute_hcf(x, y):

# choose the smaller number
    if x > y:
        smaller = y
    else:
        smaller = x
    for i in range(1, smaller+1):
        if((x % i == 0) and (y % i == 0)):
            hcf = i
    return hcf

num1 = int(input("please enter number 1: "))
num2 = int(input("please enter number 2: "))

print("The H.C.F. is", compute_hcf(num1, num2))

please enter number 1: 34
please enter number 2: 17
The H.C.F. is 17

In [ ]:
# Python code to compute factorial
n = int(input("please choose a number : "))
m = 1

for i in range(1, n+1):
	m = m * i

print(f"The factorial of the number you choose is :{m}")
print(m)

please choose a number : 2
The factorial of the number you choose is :2
2

In [ ]:
#Display all the duplicate items from the given list :[10 , 20 , 30 , 10 , 40 , 20 , 40 , 50 , 60 , 30]
list=[10 , 20 , 30 , 10 , 40 , 20 , 40 , 50 , 60 , 30]

#create lists to store the repeated and non-repeated values
unique_list=[]
repeated_list=[]

#create a for loop where the numbers are sorted into either a repeated list or a unique list
for i in list :
  if i not in unique_list :
    unique_list.append(i)
  elif i not in repeated_list:
    repeated_list.append(i)
print(f"The list of all the duplicate items is: {repeated_list}")

The list of all the duplicate items is: [10, 20, 40, 30]

In [ ]:
#print the following pattern:
#*
#**
#***
#****
#*****
# (write a general code for n number of rows)

# Number of rows
n =int(input("please enter the number of rows you need: "))

for i in range(1, n + 1):
    print('*' * i)

please enter the number of rows you need: 5
*
**
***
****
*****

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("monthly-beer-production-in-austr.csv")

In [ ]:
df.head()

                Date   Open   High    Low  Close    Volume
0  4/1/2015 16:00:00  40.60  40.76  40.31  40.72  36865322
1  4/2/2015 16:00:00  40.66  40.74  40.12  40.29  37487476
2  4/6/2015 16:00:00  40.34  41.78  40.18  41.55  39223692
3  4/7/2015 16:00:00  41.61  41.91  41.31  41.53  28809375
4  4/8/2015 16:00:00  41.48  41.69  41.04  41.42  24753438

In [ ]:
df.shape

(476, 2)

In [ ]:
df.count

<bound method DataFrame.count of                     Date    Open    High     Low   Close    Volume
0      4/1/2015 16:00:00   40.60   40.76   40.31   40.72  36865322
1      4/2/2015 16:00:00   40.66   40.74   40.12   40.29  37487476
2      4/6/2015 16:00:00   40.34   41.78   40.18   41.55  39223692
3      4/7/2015 16:00:00   41.61   41.91   41.31   41.53  28809375
4      4/8/2015 16:00:00   41.48   41.69   41.04   41.42  24753438
...                  ...     ...     ...     ...     ...       ...
1506  3/25/2021 16:00:00  235.30  236.94  231.57  232.34  34061853
1507  3/26/2021 16:00:00  231.55  236.71  231.55  236.48  25479853
1508  3/29/2021 16:00:00  236.59  236.80  231.88  235.24  25227455
1509  3/30/2021 16:00:00  233.53  233.85  231.10  231.85  24792012
1510  3/31/2021 16:00:00  232.91  239.10  232.39  235.77  43623471

[1511 rows x 6 columns]>

In [ ]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [ ]:
df.tail()

       Month  Monthly beer production
471  1995-04                    127.0
472  1995-05                    151.0
473  1995-06                    130.0
474  1995-07                    119.0
475  1995-08                    153.0

In [ ]:
len(df)

1511

In [ ]:
null_values = df.isnull()
null_count = null_values.sum()
print(null_values)
print(null_count)

     Month  Monthly beer production
0    False                    False
1    False                    False
2    False                    False
3    False                    False
4    False                    False
..     ...                      ...
471  False                    False
472  False                    False
473  False                    False
474  False                    False
475  False                    False

[476 rows x 2 columns]
Month                      0
Monthly beer production    0
dtype: int64

In [ ]:
filled_df = df.fillna(0)
print(filled_df)

       Month  Monthly beer production
0    1956-01                     93.2
1    1956-02                     96.0
2    1956-03                     95.2
3    1956-04                     77.1
4    1956-05                     70.9
..       ...                      ...
471  1995-04                    127.0
472  1995-05                    151.0
473  1995-06                    130.0
474  1995-07                    119.0
475  1995-08                    153.0

[476 rows x 2 columns]